body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgba(200,200,200,1.0);
}

* {
   font-family: 'Helvetica';
  font-weight: 300;
  box-sizing:border-box;
}


h1 {
  margin-top: 50px;
  font-size: 45px;
  color: rgb(141,217,252);
  text-transform: uppercase;
}

button, .radio {
 margin: 30px;
 font-size: 18px;
 height: 50px;
 width: 100px;
 border-radius: 10px;
 border: none;
 box-shadow: 1px 1px 0px 2px rgba(0,0,0,0.3);
 background: rgb(141,217,252);
  cursor: pointer;
}

.radio {
  padding-top: 10px;
    height: 30px;
    color: beige;
    background: brown;
}
.error {
  background: red;
}

.success {
  background: green;
}

.pending {
  background: yellow;
}

td {
  text-align:center;
  padding:10pt;
  
}
